.home{

    &__reservations{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        background-color: $secondary;
        width: 100vw;
        height: 70vh;
        position: relative;

        &--image{
            position: relative;
            height: 100%;
            width: 45%
        }

        &--desc{
            width: 65%;
            padding: 5rem;
            & h1{
                font-family: 'Ephesis';
                font-size: 3.5rem;
            }
        }
    }

    &__reviews{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: black;
        color: white;
        height: 60vh;
        font-size: 3rem;
    }

    &__reservations::before{
        content: "";
        height: 38vh;
        width: 100vw;
        position: absolute;
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2987570028011205) 25%, rgba(0,0,0,0.6460959383753502) 35%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.65) 65%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0) 100%);
        top: -19vh;
        left: 0;
        z-index: 1;
    }

    &__image{
        position: relative;
        width: 100vw;
        height: 80vh;
        top: 0;
    }
}