.online-ordering{
    height: 80vh;
    
    &__image{
        object-fit: cover;
        object-position: 100% 50%;
        position: relative;
        width: 100vw;
        height: 80vh;
        top: 0;
    }
}