.contact-form{
    position: relative;
    z-index: 1;

    &__container{
        width: 40%;
    }

    & > div {
        display: flex;
        flex-direction: column;
        margin: .7rem 0;

        & > label {
            color: $secondary;
            margin-bottom: .2rem;
        }

        & > input{
        }
    }
}

input[type=text], textarea{
    width: 100%;
}

input[type=submit]{
    background: transparent;
    border: solid 1px white;
    border-radius: 10px;
    color: $secondary;
    letter-spacing: 2px;
    padding: .5rem 2rem;
    width: 100%;
}