.contact-form{
    position: relative;
    z-index: 1;

    &__container{
        width: 40%;
    }

    & > div {
        display: flex;
        flex-direction: column;
        margin: .7rem 0;

        & > label {
            margin-bottom: .2rem;
        }

        & > input{
        }
    }
}

input[type=text], textarea{
    width: 100%;
}