.header{
    position: absolute;
    z-index: 1;
    background: transparent;
    padding: 3rem 5rem;
    width: 100%;

    &__menu{
        color: white;
        background: linear-gradient(to bottom, transparent 0%, black 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}