.map{
    position: relative;
    overflow: hidden;
    height: 70vh;
    width: 95vw;
    box-shadow: 0 0 12px rgba(131, 82, 82, 0.75);

    & iframe{
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
    }
}