@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap');


$secondary: #E3941C;
$accent: #518295;
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

html,
body {
  font-family:  'Raleway', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
